body {
  font-family: Arial, Helvetica, sans-serif;
  color: #70757a;
}

h1 {
  color: #202124;
  font-size: 22px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  padding: 0;
}

h6 {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.app-ground {
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.search-bar {
  margin: 20px;
  border-radius: 20px;
}

.search-bar .input-box {
  border-radius: 20px 0 0 20px;
  height: 40px;
  padding: 5px 5px 5px 20px;
  border: 1px solid #dadde1;
}

.search-bar .text-input {
  background: transparent;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  word-wrap: break-word;
  text-align: inherit;
  color: hsl(0deg 0% 7%);
}
.search-bar .input-button {
  border-radius: 0 20px 20px 0;
  background-color: #f0f0f0;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #dadde1;
  text-align: center;
  font-size: larger;
}

.overview {
  margin-left: 25px;
}

.summary {
  margin: 25px;
  border-radius: 10px;
}

.summary .temperature-summary {
  display: flex;
  align-items: top;
  justify-items: center;
}

.temperature-summary img {
  width: 64px;
  height: 64px;
  margin-right: 5px;
}

.temperature-summary strong {
  color: #202124;
  font-size: 60px;
  line-height: 1;
}

.temperature-summary small {
  position: relative;
  font-size: 16px;
}

.temperature-summary .units {
  color: #202124;
}

.temperature-summary a {
  text-decoration: none;
  color: #70757a;
}

.temperature-summary .deactive {
  color: #202124;
  cursor: text;
}

.night-mode {
  background-color: #202124;
  color: #9aa0a6;
}
.night-mode-text {
  color: #e8eaed;
}

.forecast {
  text-align: center;
  margin: 10px 20px 10px 20px;
}

.forecast img {
  width: 48px;
  height: 48px;
  display: block;
  margin: 0 auto;
}
.forecast .forecast-block {
  border-radius: 10px;
  margin-right: 7px;
  height: 95px;
}

.forecast-block:hover {
  background-color: #f8f9fa;
}

.forecast .forecast-day {
  font-size: 16px;
  color: #202124;
  margin-top: 7px;
  line-height: 15px;
}

.forecast .forecast-temp-max {
  font-size: 13px;
  color: #202124;
}

.forecast .forecast-temp-min {
  font-size: 13px;
}
