body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  padding: 0;
}

h6 {
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.app-ground {
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.search-bar {
  margin: 20px;
  border-radius: 20px;
  /* border: 1px solid #dadde1; */
}

.search-bar .input-box {
  border-radius: 20px 0 0 20px;
  height: 40px;
  padding: 5px 5px 5px 20px;
  /* padding-bottom: 4px; */
  border: 1px solid #dadde1;
}

.search-bar .text-input {
  background: transparent;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  word-wrap: break-word;
  text-align: inherit;
  color: hsl(0deg 0% 7%);
}
.search-bar .input-button {
  border-radius: 0 20px 20px 0;
  background-color: #f0f0f0;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #dadde1;
}

.overview {
  margin-left: 25px;
}

.summary {
  margin: 25px;
  /* background-color: rgba(128, 128, 128, 0.373); */
  border-radius: 10px;
}

.summary .temperature-summary {
  display: flex;
  align-items: top;
  justify-items: center;
}
.temperature-summary a {
  text-decoration: none;
}

.temperature-summary img {
  width: 64px;
  height: 64px;
  margin-right: 20px;
}

.temperature-summary strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
}

.temperature-summary small {
  position: relative;
  font-size: 16px;
}
